#footer{
    margin-top: 50px;
    .footerInner{
        max-width: var(--max-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        border-top: 1px solid var(--footer-border-color);

        .footerLogo{
            svg{
                width: 50%;
            }
        }
        
        .footerCredits{
            h2 {
                font-size: 18px;
                
                a{
                    color: var(--text-white);

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media (min-width: 250px) and (max-width: 760px){
        .footerInner{
            flex-direction: column;
            padding: 35px 10px;
            align-items: center;

            .footerCredits{
                h2 {
                    font-size: 14px;
                }
            }

        }
    }

    @media (max-width: 900px){
        .footerInner{
            padding: 20px 10px;
            justify-content: center;
            flex-direction: column;

            .footerLogo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    @media (min-width: 901px){
        .footerInner{
            padding: 25px 10px
        }
    }
}